footer.default {
  width: 100%;
  height: 21rem;
  border-top: 0.1rem solid var(--secondary__purple);

  display: flex;
  align-items: center;
  justify-content: center;
}

div.footerContainer {
  width: 90%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

div.containerBox {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h3.footerSubTitle {
  width: 80%;
  height: 2rem;
  padding-left: 8rem;
  line-height: 2rem;

  font-size: 1.25rem;
  font-weight: bold;
  color: var(--primary__purple);
  text-align: center;
}

h4.footerFunnyText {
  width: 100%;
  height: 2rem;
  padding-left: 8rem;
  line-height: 2rem;

  font-size: 0.8rem;
  font-weight: bold;
  color: var(--primary__purple);
  text-align: center;
}
