section.defaultSection {
  width: 100%;
  height: 92.4375rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

section.mainSection {
  width: 100%;
  height: 67rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

div.sectionWrapper {
  width: 80%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

div.noPadding {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

div.mainSectionWrapper {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 10rem;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  gap: 4rem;
}

div.overlay {
  width: 100%;
  height: 100vh;

  position: absolute;
}
