section.defaultSection {
  width: 100%;
  height: 92.4375rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

section.mainSection {
  width: 100%;
  height: 70.375rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

div.sectionWrapper {
  width: 80%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

div.noPadding {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
